$xxl: 120px;
$xl: 45px;
$l: 30px;
$m: 22px;
$s: 17px;
$xs: 13px;
$mini: 11px;

$spacing: 12px;
$spacing-2x: 24px;
$spacing-p5x: 6px;
$spacing-4x: 48px;

$text-color: #6A6A6A;

$red: #ED5863;
$orange: #F7B325;
$blue: #6AB8E5;
$green: #AACF59;

$grey: #E9E9E9;

$font-stack: Lato, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;

$sides: left, right, top, bottom;

body {
  font-size: $m;
  color: $text-color;
  background: $grey;
  font-family: $font-stack;
  padding: $spacing-2x;
}

html {
  background: transparent;
}

.xx-large {
  font-size: $xxl;
  line-height: 1.2em;
}
.x-large {
  font-size: $xl;
  line-height: 1.2em;
}
.large {
  font-size: $l;
  line-height: 1.2em;
}
.medium {
  font-size: $m;
  line-height: 1.2em;
}
.small {
  font-size: $s;
  line-height: 1.2em;
}
.x-small {
  font-size: $xs;
  line-height: 1.2em;
}
.xx-small {
  font-size: $mini;
  line-height: 1.2em;
}
.height-100 {
  min-height: 100%;
}
.center {
  text-align: center;
}
.white {
  color: white;
}


.blue {
  color: $blue;
}
.green {
  color: $green;
}
.orange {
  color: $orange;
}
.red {
  color: $red;
}


.bg-blue {
  background-color: $blue;
}
.bg-green {
  background-color: $green;
}
.bg-orange {
  background-color: $orange;
}
.bg-red {
  background-color: $red;
}

.circle {
  border-radius: 50%;
}
.box-100 {
  width: 100px;
  height: 100px;
  text-align: center;
}
.ln-100 {
  line-height: 100px;
}

.pad {
  padding: $spacing;
}
.pad-2x {
  padding: $spacing-2x;
}
.pad-p5x {
  padding: $spacing-p5x;
}
.pad-4x {
  padding: $spacing-4x;
}

@each $side in $sides {
  .pad-#{$side} {
    padding-#{$side}: $spacing;
  }
}

@each $side in $sides {
  .pad-#{$side}-2x {
    padding-#{$side}: $spacing-2x;
  }
}

@each $side in $sides {
  .pad-#{$side}-p5x {
    padding-#{$side}: $spacing-p5x;
  }
}

.mrg {
  margin: $spacing;
}
.mrg-2x {
  margin: $spacing-2x;
}
.mrg-p5x {
  margin: $spacing-p5x;
}
.mrg-4x {
  margin: $spacing-4x;
}

@each $side in $sides {
  .mrg-#{$side} {
    margin-#{$side}: $spacing;
  }
}

@each $side in $sides {
  .mrg-#{$side}-2x {
    margin-#{$side}: $spacing-2x;
  }
}

@each $side in $sides {
  .mrg-#{$side}-p5x {
    margin-#{$side}: $spacing-p5x;
  }
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.wrap {
  flex-wrap: wrap;
}


md-card {
  background-color: white;
}

