.ace_editor { 
  height: 600px; 
  width: 600px;
}
#dot-window {
  height: 600px;
  width: 600px;
}

#dot-window {
  .ng-enter, .ng-move{
    transition: 0.5s;
    opacity: 0;
  }

  .ng-enter-active, .ng-move-active {
    opacity: 1;
  }

  .ng-leave{
    transition: 0.5s;
    opacity: 1;
  }
  .ng-leave-active{
    opacity: 0;
  }
}