<md-card ng-keyup='stopPropagation($event)'>
  <div layout='row'>
    <div ui-ace="{
      useWrapMode : true,
      theme:'twilight',
      mode: 'javascript',
      onLoad: aceLoaded,
      onChange: aceChanged
    }"></div>
    <div id='dot-window' layout='column'>
      <div layout='row' class='pad'>
        <div class='mrg' ng-click='run()'>Run</div><div class='mrg' ng-click='reset()'>Reset</div>
        <div flex></div>
        <div class='small-card-img'>
          <img src='9dots_logo.png'></img>
        </div>
      </div>
      <div layout='column' layout-align='center center' flex>
        <div layout='row' layout-align='center center' class='wrap' ng-style='width && {width: width}'>
          <span ng-repeat='dot in dots track by dot.id'>
            <div class='circle mrg' ng-style='{width: size, height: size}' ng-class='"bg-" + dot.color'></div>
          </span>
        </div>
      </div>
    </div>
  </div>
</md-card>