#jk.ace_editor { 
  height: 300px; 
  width: 600px;
}
#kafka.ace_editor {
  height: 300px; 
  width: 600px;
}
#exe.ace_editor {
  height: 200px; 
  width: 600px;
}
#say-it-window {
  height: 200px;
  width: 616px;
}